#html
/html/*
!/html/.keep
!/html/wp-content/
/html/wp-content/*
!/html/wp-content/plugins
/html/wp-content/plugins/*
!/html/wp-content/plugins/Laboratoria-WhatsApp-plugin
!/html/wp-content/plugins/flash-memory
#mysql
/php-playground/*
!/php-playground/hola.php
!/php-playground/index.html
